<h2 class="title is-3">Hello {{profile._firstName}} {{profile._lastName}}</h2>
<div class="card">
  <div class="card-header">
    <p class="card-header-title"><span class="icon"><i class="fas fa-id-card"></i></span>General Information</p>
  </div>
  <div class="card-content">
    <div class="content">
      <div class="columns">
        <div class="column">
          <p *ngIf="profile._weight; else notWeight" class="is-size-5"><i class="fas fa-weight"></i> {{profile._weight}}
          </p>
          <ng-template #notWeight>
            <p class="is-size-5"><i class="fas fa-weight"></i> Weight not available</p>
          </ng-template>
          <p *ngIf="profile._height; else notHeight" class="is-size-5"><i class="fas fa-ruler-vertical"></i>
            {{profile._height}}</p>
          <ng-template #notHeight>
            <p class="is-size-5"><i class="fas fa-ruler-vertical"></i> Height not available</p>
          </ng-template>
          <p *ngIf="profile._bloodType; else notBloodType" class="is-size-5"><i class="fas fa-tint"></i>
            {{profile._bloodType}}</p>
          <ng-template #notBloodType>
            <p class="is-size-5"><i class="fas fa-tint"></i> Blood type not available</p>
          </ng-template>
        </div>
        <div class="column">
          <p *ngIf="profile._sex; else notSex" class="is-size-5"><i class="fas fa-user"></i> {{Genders[profile._sex]}}
          </p>
          <ng-template #notSex>
            <p class="is-size-5"><i class="fas fa-user"></i> Sex is not available</p>
          </ng-template>
          <p class="is-size-5"><i class="fas fa-birthday-cake"></i> {{profile._birthdate}}</p>
          <p class="is-size-5"><i class="fas fa-envelope"></i> {{currentUser._email}}</p>
        </div>
      </div>
    </div>
  </div>
</div>