<h2 class="title is-3">Hello {{profile._firstName}} {{profile._lastName}}</h2>
<div class="card">
  <div class="card-content">
    <div class="content">
      <div class="columns">
        <div class="column">
          <p *ngIf="profile._weight" class="is-size-5"><i class="fas fa-weight"></i> {{profile._weight}}</p>
          <p *ngIf="profile._height" class="is-size-5"><i class="fas fa-ruler-vertical"></i> {{profile._height}}</p>
          <p *ngIf="profile._bloodType" class="is-size-5"><i class="fas fa-tint"></i> {{profile._bloodType}}</p>
        </div>
        <div class="column">
          <p *ngIf="profile._sex" class="is-size-5"><i class="fas fa-user"></i> {{Genders[profile._sex]}}</p>
          <p class="is-size-5"><i class="fas fa-birthday-cake"></i> {{profile._birthdate}}</p>
          <p class="is-size-5"><i class="fas fa-envelope"></i> {{currentUser._email}}</p>
        </div>
      </div>
    </div>
  </div>
</div>