<h2 class="title is-3">Records history</h2>
<div class="timeline is-centered">
  <header class="timeline-header">
    <span class="tag is-medium is-danger">Start</span>
  </header>
  <div *ngFor="let transaction of history" class="timeline-item">
    <div class="timeline-marker"></div>
    <div [ngClass]="{'is-info': transaction.metadata.record._event === 3, 
    'is-success': transaction.metadata.record._event === 1,
    'is-primary': transaction.metadata.record._event === 2,
    'is-danger': transaction.metadata.record._event === 4  }" class="timeline-marker is-icon">
      <i [ngClass]="{'far fa-handshake': transaction.metadata.record._event === 3, 
                    'fas fa-user-astronaut': transaction.metadata.record._event === 1,
                    'fas fa-laptop-medical': transaction.metadata.record._event === 2,
                    'fas fa-heart-broken': transaction.metadata.record._event === 4  }"></i>
    </div>
    <div class="timeline-content">
      <p class="heading">{{transaction.metadata.record._lastUpdate | date:'fullDate'}}</p>
      <p>{{transaction.metadata.record._message}}</p>
    </div>
  </div>
  <div class="timeline-header">
    <span class="tag is-medium is-danger">End</span>
  </div>
</div>