<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <span class="is-size-4"><b>E-MED</b></span>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <span>{{currentUser._publicKey}}</span>
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <a (click)="logout()" class="button is-light">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>