<nav class="navbar pastel-red" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <span class="is-size-4 has-text-white"><i class="fas fa-briefcase-medical logo"></i><b>E-MED</b></span>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <span class="has-text-white">{{currentUser._publicKey}}</span>
      </div>
      <div class="navbar-item">
        <span class="tag is-white pastel-red-text">{{Types[currentUser._type]}}</span>
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <a (click)="logout()" class="button is-light pastel-red-text">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>